{% extends 'base.html' %}
{% load humanize %}

{% block css %}
<style>
  #flotante {
    position: absolute;
    display: none;
    font-family: Arial;
    font-size: 0.8em;
    width: 280px;
    border: 1px solid #808080;
    background-color: #f1f1f1;
    padding: 5px;
  }

  ul {
    list-style: none;
  }
</style>
{% endblock css %}


{% block miga_pan %}
<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
<li><a href="{% url 'compras:index' %}">Compras</a></li>
<li class="active">Ordenes de Compra</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
Ordenes de Compra
{% endblock titulo_pagina %}

{% block titulo %}Gestión de Ordenes de compra {% endblock titulo %}

{% block contenido %}
<div class="content-wrapper" style="margin-left:0 !important">
  <!-- Main content -->
  <section class="box">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <!-- Panel colapsable -->
            <div class="container col-md-12">

              <div class="tab-content">
                {% if object_list %}
                {% for orden in object_list %}
                <div id="ordenes" class="tab-pane fade in active">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          <a data-toggle="collapse" data-parent="#acordion" href="#collapse{{orden.id}}">
                            Orden de Compra #{{orden.id}}
                          </a>
                          {% if orden.estado_aprobacion == 'pendiente' %}
                          <i onmouseout="quitM(event)" onmouseover="mensaje(event)" class="fa fa-circle text-grey"></i> <!-- cambia color con el estado_aprobacion -->
                          {% elif orden.estado_aprobacion == 'rechazada' %}
                          <i onmouseout="quitM(event)" onmouseover="mensaje(event)" class="fa fa-circle text-red"></i> <!-- cambia color con el estado -->
                          {% elif orden.estado_aprobacion == 'aprobado_gerente' %}
                          <i onmouseout="quitM(event)" onmouseover="mensaje(event)" class="fa fa-circle text-green"></i> <!-- cambia color con el estado -->
                          {% endif %}
                          {% if usuario.cargo.name == 'gerente' and orden.estado_aprobacion == 'pendiente' %}
                          <a style="display: inline" href="{% url 'compras:autorizar_orden' orden.id %}" class="btn btn-primary">Aprobar Orden</a>
                          <a style="display: inline" href="{% url 'compras:rechazar_orden' orden.id %}" class="btn btn-danger">Rechazar Orden</a>
                          {% endif %}
                        </h3>
                      </div>

                      <div id="collapse{{orden.id}}" class="panel-collapse collapse">
                        <div class="form-group row">
                          <div class="col-xs-6">
                            <label for="inputNombre">Nombre Proveedor</label>
                            <input type="text" class="form-control" id="inputNombre" disabled value="{{orden.cotizacion.proveedor.nombre}}">
                          </div>

                          <div class="col-xs-3">
                            <label for="inputId">Identificación</label>
                            <input type="text" class="form-control" id="inputId" disabled value="{{orden.cotizacion.proveedor.email}}">
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-xs-6">
                            <label for="inputElemento">Elemento</label>
                            <input type="text" class="form-control" id="inputElemento" disabled value="{{orden.cotizacion.solicitud.articulo.nombre}}">
                          </div>

                          <div class="col-xs-3">
                            <label for="inputCantidad">Cantidad</label>
                            <input type="text" class="form-control" id="inputCantidad" disabled value="{{orden.cotizacion.solicitud.cantidad}}">
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="form-group col-xs-6">
                            <label for="datepicker">Fecha realizada</label>
                            <!-- Date -->
                            <input type="text" class="form-control pull-right" id="datepicker" disabled value="{{orden.fecha_realizada}}">
                          </div>

                          <div class="form-group col-xs-6">
                            <label for="datepicker">Fecha esperada</label>
                            <!-- Date -->
                            <input type="text" class="form-control pull-right" id="datepicker" disabled value="{{orden.fecha_esperada}}">
                          </div>
                        </div> <!-- group row -->

                        <div class="form-group row">
                          <div class="form-group col-xs-6">
                            <label for="inputValorU">Valor unidad $</label>
                            <input type="text" class="form-control" id="inputValorU" disabled value="{{orden.cotizacion.total}}">
                          </div>

                          <div class="form-group col-xs-6">
                            <label for="inputValorT">Valor Total $</label>
                            <input type="text" class="form-control pull-right" id="inputValorT" disabled value="{% widthratio orden.cotizacion.total 1 orden.cotizacion.solicitud.cantidad|intcomma %}">
                          </div>
                        </div>

                      </div>
                      <!--collapse-->
                    </div>
                    <!--panel-->
                  </div>
                  <!--accordion-->
                  {% endfor %}
                  {% else %}
                  <h3>No hay ordenes de compra</h3>
                  {% endif %}
                </div>
              </div>
              <!--tab content-->
            </div>
          </div> <!-- /.box-body -->
        </form>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </section>
  <!-- /.content -->
</div>
<div id="flotante">
  <h4>Estados: </h4>
  <ul>
    <li>
      <i class="fa fa-circle text-grey"></i>Pendiente Aprobación
    </li>
    <li>
      <i class="fa fa-circle text-red"></i>Rechazado
    </li>
    <li>
      <i class="fa fa-circle text-green"></i>Aprobado Gerente
    </li>
  </ul>
</div>
<!-- /.content-wrapper -->
{% endblock contenido %}

{% block js %}
<script>
  function mensaje(event) {
    margin = 5;

    var tempX = 0;
    var tempY = 0;

    document.captureEvents(Event.MOUSEMOVE);
    tempX = event.pageX;
    tempY = event.pageY;

    if (tempX < 0) {
      tempX = 0;
    }
    if (tempY < 0) {
      tempY = 0;
    }

    // Posicionamos la capa flotante
    document.getElementById('flotante').style.top = (tempY + margin) + "px";
    document.getElementById('flotante').style.left = (tempX + margin) + "px";
    document.getElementById('flotante').style.display = 'block';
    return;
  }

  function quitM(event) {
    $("#flotante").hide()
  }
</script>
{% endblock js %}