<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style> 
        p{
            font-weight: bold;
            font-size: 20px;
        }

        h1 {
            font-size: 16px;
        }
    </style>

    <title>Cotización </title>
</head>
<body>
    
    

    <br><br><br> 
        <h1 align= "right" > {{date}} </h1>


    <br>
    <h1 style= "font-size: 22px; " >E.R.P Compras</h1>
    <br><br>
    <p>FECHA DE COTIZACIÓN</p>
    <h1>{{cot.fecha_realizada}}</h1>

    <br><br>
    <p>ARTÍCULO</p>
    <h1>{{cot.solicitud.articulo}}</h1>


    <br><br>
    <p>VALOR UNITARIO</p>
    <h1> ${{cot.total}}</h1>
    
    <br><br>
    <p>CANTIDAD</p>
    <h1>{{cot.solicitud.cantidad}}</h1>

    <br><br><br>
    <p>TOTAL:   ${{total}}</p>
  


    


    
    </body>
    
    </html> 
   

    <!-- <h2>{{cotizacion.total}}</h2> -->
</body>
</html>