{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo_pagina %}Editar Usuarios{% endblock titulo_pagina %}
{% block titulo %}Gestión de Usuarios{% endblock titulo %}
{% block descripcion_pagina %} Gestiona los usuarios de ERPAdmin {% endblock descripcion_pagina %}
{% block miga_pan %}
<li><a href="{% url 'usuarios:home'%}"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
<li class="active">GESTIONAR USUARIOS</li>
{% endblock miga_pan %}

{% block contenido_panel %}

<form method="post" role="form">
    {% csrf_token %}
    {% for field in form %}
        <p>{% bootstrap_field field %}<p>
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
{% endblock contenido_panel %}
{% block pie_panel %}
    <button type="submit" class="btn btn-raised btn-success">Guardar Usuario</button>
</form>
{% endblock pie_panel %}

{% block js %}
<!-- InputMask -->
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>

<script>
    //Datemask dd/mm/yyyy
    $('#id_fecha_nacimiento').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
</script>
{% endblock js %}

