{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo_pagina %}Editar Usuario {{nombre_usuario_editar}}{% endblock titulo_pagina %}
{% block titulo %}Gestión de Usuarios{% endblock titulo %}
{% block miga_pan %}
<li><a href="{% url 'usuarios:home'%}"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
<li class="active">GESTIONAR USUARIOS</li>
{% endblock miga_pan %}

{% block contenido_panel %}

<form method="post" role="form" onsubmit="return validacion()">
     {% csrf_token %}

    <div class="row">
        <div class="col-sm-4">
            {% bootstrap_field form.first_name %}
        </div>
        <div class="col-sm-4">
            {% bootstrap_field form.last_name %}
        </div>
        <div class="col-sm-4">
            {% bootstrap_field form.cedula %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            {% bootstrap_field form.username %}
        </div>
        <div class="col-sm-4">
            {% bootstrap_field form.cargo %}
        </div>
        <div class="col-sm-4">
            {% bootstrap_field form.email %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            {% bootstrap_field form.fecha_nacimiento %}
        </div>
            <div class="col-sm-4">
            {% bootstrap_field form.telefono %}
        </div>
        <div class="col-sm-4">
            {% bootstrap_field form.direccion %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {% bootstrap_field form.estado_civil %}
        </div>
            <div class="col-sm-6">
            {% bootstrap_field form.is_active %}
        </div>
    </div>


    {% for field in form %}
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}

{% endblock contenido_panel %}
{% block pie_panel %}
    <button type="submit" class="btn btn-raised btn-success">Guardar Usuario</button>
</form>
{% endblock pie_panel %}

{% block js %}
<!-- InputMask -->
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>

<script>
    //Datemask dd/mm/yyyy
    $('#id_fecha_nacimiento').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
</script>
<script src="{% static 'dist/js/validacion_crear_usuario.js' %}"></script>
{% endblock js %}

