{% extends 'base.html' %}
{% load bootstrap3 %}


{% block titulo %}
    Registrar empleado
{% endblock %}

{% block titulo_pagina %}
    Registro de empleados
{% endblock %}

{% block descripcion_pagina %}
    Ingresar empleados de la empresa
{% endblock descripcion_pagina %}

{% block miga_pan %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Empleados</a></li>
    <li class="active">Registro de empleados</li>
{% endblock miga_pan %}

{% block contenido %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Registro de empleados</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="POST">{% csrf_token %}
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.id_type %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.identification %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.name %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.email %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.address %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.telephone %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.eps %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.pension_fund %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.severance_fund %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.cargo %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.bank %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.account_number %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.salary %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.status %}
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Registrar empleado</button>
            </div>
        </form>
    </div>



{% endblock %}