{% extends 'base.html' %}
{% load bootstrap3 %}
{% load evaluaciones_tags %}



{% block titulo %}
    Registrar pregunta
{% endblock %}

{% block titulo_pagina %}
    Registro de preguntas
{% endblock %}

{% block descripcion_pagina %}
    Ingresar preguntas de evaluación de desempeño de la empresa
{% endblock descripcion_pagina %}

{% block miga_pan %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Preguntas</a></li>
    <li class="active">Registro de evaluaciones de desempeño</li>
{% endblock miga_pan %}

{% block contenido %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Registro de evaluaciones de desempeño</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="POST">{% csrf_token %}
            <div class="box-body">
                {{ evaluacion.date }}
                {{ evaluacion.employee }}
                {% for formulario in formset %}
                    {% with pregunta_evaluacion=preguntas|index:forloop.counter0 %}
                        {{ pregunta_evaluacion.questionId.question_statement }}
                        {% bootstrap_field formulario.score %}
                        {% if formulario.score.errors %}

                            <div class="alert alert-danger alert-dismissible">
                                {{ formulario.score.errors }}
                            </div>
                        {% endif %}
                        {% bootstrap_field formulario.observation %}
                        {% if formulario.observation.errors %}
                            <div class="alert alert-danger alert-dismissible">
                                {{ formulario.observation.errors }}
                            </div>
                        {% endif %}
                        {% for hidden in formulario.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
                {{ formset.management_form }}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Registrar evaluación</button>
            </div>
        </form>
    </div>



{% endblock %}