<li class="header">CUENTAS</li>

{% if perms.cuentas %}
<li class="treeview">
    <a href="#"><i class="fa fa-calculator"></i><span>CUENTAS</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
    </a>
    <ul class="treeview-menu">
        {% if perms.cuentas.add_cuentaspagar %}<li><a href="{% url 'crearCuenta'%}">Crear Cuenta Pagar</a></li>{% endif %}
        {% if perms.cuentas.view_cuentaspagar %}<li><a href="{% url 'listarPagar'%}">Cuentas por Pagar</a></li>{% endif %}
        {% if perms.cuentas.add_payments %}<li><a href="{% url 'payments'%}">Pagos</a></li>{% endif %}
        {% if perms.cuentas.view_cuentascobrar %}<li><a href="{% url 'listarCobrar'%}">Cuentas de Cobro</a></li>{% endif %}
        {% if perms.cuentas.view_cuentasempresa %}<li><a href="{% url 'listarCuentaEmpresa'%}">Cuentas Bancarias</a></li>{% endif %}
        <!--<li><a href="{% url 'createOrder'%}">Crear Ordenes</a></li>-->
        <li><a href="{% url 'listServiceOrder'%}">Ver Ordenes</a></li>
    </ul>
</li>
{% endif %}
