<li class="header">ORDENES SERVICIO</li>

{% if perms.ordenes_servicio %}
<li class="treeview">
    <a href="#"><i class="fa fa-paperclip"></i> <span>ORDENES SERVICIO</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
    </a>
    <ul class="treeview-menu">
        {% if perms.ordenes_servicio.list_ordenservicio %}<li><a href="{% url 'ordenes_servicio:Welcome' %}">Inicio</a></li>{% endif %}
        {% if perms.ordenes_servicio.add_ordenservicio %}<li><a href="{% url 'ordenes_servicio:crear_orden_servicio' %}">Crear orden</a></li>{% endif %}
        {% if perms.ordenes_servicio.list_ordenservicio %}<li><a href="{% url 'ordenes_servicio:consultar_orden_servicio' %}">Consultar ordenes</a></li>{% endif %}
    </ul>
</li>
{% endif %}