{% extends 'base.html' %}

{% load bootstrap3 %}

{% block titulo %}
    Listado de cargos
{% endblock %}

{% block titulo_pagina %}
    Listado de cargos
{% endblock %}

{% block descripcion_pagina %}
    Listado de cargos activos en la empresa
{% endblock descripcion_pagina %}

{% block miga_pan %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Cargos</a></li>
    <li class="active">Listado</li>
{% endblock miga_pan %}


{% block contenido %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Listado de cargos</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre del cargo</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Hay vacantes?</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for cargo in lista_cargos %}
                    <tr>
                        <td>{{ cargo.name }}</td>
                        <td>{{ cargo.description }}</td>
                        {% if cargo.estado %}
                            <td>ACTIVO</td>
                        {% else %}
                            <td>INACTIVO</td>
                        {% endif %}
                        <td>{{ cargo.has_vacants|yesno:"Si,No" }}</td>
                        <td>
                            <div class="btn-group">

                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">
                                    Acciones
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <div class="ripple-container"></div>

                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'modificar_cargo' cargo.id %}">Consultar/Modificar</a></li>

                                    <li class="divider"></li>
                                    {% if cargo.estado %}
                                        <li><a class="delete-cargo" href="#" data-toggle="modal" data-target="#deactivate-modal"
                                               data-url="{% url 'desactivar_cargo' cargo.id %}">Desactivar</a></li>
                                    {% else %}
                                        <li><a class="activate-cargo" href="#" data-toggle="modal" data-target="#activate-modal"
                                               data-url="{% url 'activar_cargo' cargo.id %}">Activar</a></li>
                                    {% endif %}

                                </ul>
                            </div>

                        </td>
                        <!--
                <td><a href="{% url 'modificar_cargo' cargo.id %}">Modificar</a></td>
            -->
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="modal fade" id="deactivate-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar cargo</h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea desactivar este cargo?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" onclick="deactivateStatus()">Eliminar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="activate-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Activar cargo</h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea activar este cargo?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" onclick="activateStatus()">Activar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}


{% block js %}
    <script type="text/javascript">

    var deactivate_url = "";
    var activate_url = "";

    $(document).ready(function () {
        $('.delete-cargo').click(function () {
            deactivate_url = $(this).attr('data-url');
        });

        $('.activate-cargo').click(function(){
            activate_url = $(this).attr('data-url');
        });
    });

    function deactivateStatus(){

        $.ajax({
            url: deactivate_url,
            data: {},
            dataType: 'html',
            success: function (data) {
                location.reload(true);
            }
        });

        $("#deactivate-modal").hide();
    }

    function activateStatus(){

        $.ajax({
            url: activate_url,
            data: {},
            dataType: 'html',
            success: function (data) {
                location.reload(true);
            }
        });

        $("#activate-modal").hide();
    }


    </script>

{% endblock %}
