{% extends 'base.html' %}
{% load bootstrap3 %}


{% block titulo %}
    Registrar cargo
{% endblock %}

{% block titulo_pagina %}
    Registro de cargos
{% endblock %}

{% block descripcion_pagina %}
    Ingresar cargos de la empresa
{% endblock descripcion_pagina %}

{% block miga_pan %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Cargos</a></li>
    <li class="active">Registro de cargos</li>
{% endblock miga_pan %}

{% block contenido %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Registro de cargos</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="POST">{% csrf_token %}
            <div class="box-body">

                {% bootstrap_form form %}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Registrar cargo</button>
            </div>
        </form>
    </div>



{% endblock %}