{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block titulo %} Crear Orden{% endblock titulo %}

{% block css %}


{% endblock css %}

{% block titulo_pagina %} Nueva Orden de Servicio {% endblock titulo_pagina %}

{% block miga_pan %}
<li><a href="#">Orden de Servicio</a></li>
<li class="active">Crear Orden</li>
{% endblock miga_pan %}

{% block titulo_panel %}<small>Datos de Orden</small>{% endblock titulo_panel %}

{% block contenido_panel %}

<div class="container-fluid col-md-6">
	
	<form method="POST">
		{% csrf_token %}
			
			<div class="form-group">
				<label>Servicio</label>
				{{ form.sold_service}}
			</div>
			<div class="form-group">
				<label>Encargado</label>
				{{ form.employee_id}}
			</div>
			<div class="form-group">
				<label>Comentarios</label>
				{{ form.comments}}
			</div>
			<div class="form-group">
			<label>Estado</label>
				{{ form.status}}
			</div>
			<div class="form-group">
				<label>Total</label>
				{{ form.total}}
			</div>
	        <button type="submit" class="save btn btn-primary">Guardar</button>
	    </form>
	
</div>


{% endblock contenido_panel %}

{% block js %}
<!--datatable-->

{% endblock js %}