{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo %} Dasboard {% endblock titulo %}

{% block css %}
<!--Editable Table-->
<link rel="stylesheet" href="{% static 'dist/css/editable-table.css' %}">
<!-- Date Picker -->
<link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">



{% endblock css %}

{% block titulo_pagina %}{% endblock titulo_pagina %}

{% block miga_pan %}
<li><a href="#">Cuentas por Pagar</a></li>
<li class="active">Ver Cuentas</li>
{% endblock miga_pan %}

{% block titulo_panel %}{% endblock titulo_panel %}

{% block contenido %}
{% if perms.cuentas %}
    <div class="container-fluid">
        <h1>Estadísticas</h1>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <center><h2>INGRESOS</h2></center>
                        <center><h1 id="ingresos"></h1></center>
                    </div>
                    <div class="panel-footer" style="color: #31708f; background-color: #d9edf7">
                        IVA: $ 6.754.500
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <center><h2>EGRESOS</h2></center>
                        <center><h1 id="egresos"></h1></center>
                    </div>
                    <div class="panel-footer" style="color: #8a6d3b; background-color: #fcf8e3">
                        IVA: $ 4.433.270
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body" style="color: #fff; background-color: #1ABC9C">
                        <center><h2>RESULTADO</h2></center>
                        <center><h1>$ 12.217.000</h1></center>
                    </div>
                    <div class="panel-footer" style="color: #fff; background-color: green">
                        IVA: $ 2.321.230
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <canvas id="grafica1" style="width: 100%;"></canvas>
            </div>
            <div class="col-12 col-md-6">
                <canvas id="grafica2" style="width: 100%;"></canvas>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <center><h2>Ingresos</h2></center>
                <canvas id="grafica3"></canvas>
            </div>
            <div class="col-12 col-md-6">
                <center><h2>Gastos</h2></center>
                <canvas id="grafica4"></canvas>
            </div>
        </div>
    </div> 
    {% endif %}   
    <!-- /.container -->
{% endblock contenido %}

{% block js %}
<!-- DataTables -->
<script src="{% static 'dist/js/editable-table.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>


<!-- page script -->
<script>
    /*$.get('{% url "dashboard_graph_1" %}', function(data) {
        var ctx = $("#grafica1").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line', data: data
        });
    });*/

    graphOne();
    graphTwo();
    graphThree();
    graphFour();
    function graphOne(){
        var ctx = $("#grafica1");
        var data = {
            labels : ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
            datasets: [
                {
                    label: "Recaudo Mensual",
                    data:[  
                        Math.floor(Math.random() * 10000000), 
                        Math.floor(Math.random() * 10000000), 
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),],
                    backgroundColor:[
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                        "rgba(63, 191, 63, 0.5)",
                    ],
                }
            ]
        }
        new Chart(ctx, {
            type: 'bar', 
            data: data,
        });
    }

    function graphTwo(){
        var ctx = $("#grafica2");
        var data = {
            labels : ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
            datasets: [
                {
                    label: "Pago Mensual",
                    data:[  
                        Math.floor(Math.random() * 10000000), 
                        Math.floor(Math.random() * 10000000), 
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),  
                        Math.floor(Math.random() * 10000000),],
                    backgroundColor:[
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                        "rgba(25, 62, 184, 0.5)",
                    ],
                }
            ]
        }
        new Chart(ctx, {
            type: 'bar', 
            data: data,
        });
    }
    function graphThree(){
        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        60, 40
                    ],
                    backgroundColor: [
                        'blue',
                        'red',
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    'Cuentas Cobradas',
                    'Cuentas Pendientes por Cobrar',
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };

        var ctx = document.getElementById('grafica3').getContext('2d');
        new Chart(ctx, config);
    }
    function graphFour(){
        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        67, 33
                    ],
                    backgroundColor: [
                        'blue',
                        'red',
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    'Cuentas Pagadas',
                    'Cuentas Pendientes por Pagar',
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };

        var ctx1 = document.getElementById('grafica4').getContext('2d');
        new Chart(ctx1, config);
    }

    $.ajax({
        url: 'balances/',
        success: function(respuesta) {
            if(respuesta.ingresos.total__sum != null){
                $("#ingresos").text("$"+respuesta.ingresos.total__sum);
            }else{
                $("#ingresos").text("$0");
            }
            if(respuesta.egresos.costo_total__sum != null){
                $("#egresos").text("$"+respuesta.egresos.costo_total__sum);
            }else{
                $("#egresos").text("$0");
            }
        },
        error: function() {
            console.log("No se ha podido obtener la información");
        }
    });
</script>
{% endblock js %}