{% if perms.inventario %}
	<div class="col-md-4">

		<div class="box box-widget widget-user-2">

			<div class="widget-user-header bg-blue">
				<h3 class="widget-user-username">Módulo de inventario</h3>
				<h5 class="widget-user-desc">Gestión de bodega</h5>
			</div>

			<div class="box-footer no-padding">
				<ul class="nav nav-stacked">


						<li><a href="{% url 'inventario:entradas' %}">Entradas <span
								class="pull-right badge bg-blue"><i class="fa fa-check-square-o"></i></span></a></li>



						<li><a href="{% url 'inventario:entradasRegistradas' %}">Entradas registradas <span
								class="pull-right badge bg-green"><i class="fa fa-check-square-o"></i></span></a></li>



						<li><a href="{% url 'inventario:inventario' %}">Inventario <span
								class="pull-right badge bg-blue"><i class="fa fa-archive"></i></span></a></li>



						<li><a href="{% url 'inventario:salidas' %}">Salidas <span
								class="pull-right badge bg-green"><i class="fa fa-cart-arrow-down"></i></span></a></li>

				</ul>
			</div>
		</div>
	</div>
{% endif %}
