{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block miga_pan %}
{% endblock miga_pan %}

{% block titulo %}Orden Servicio{% endblock titulo %}

{% block css %}
<style media="screen">
</style>
{% endblock css %}

{% block contenido %}

<div class="col-md-12">
  <div class="box box-primary">
      <div class="box-header">
          <h3 class="box-title">Crear Orden de Servicio</h3>
      </div>
      <div class="box-body">
        <form method="POST" id="formulario"> {% csrf_token %}
          <div class="row">
              <div class="col-sm-12">
                {% bootstrap_field form.servicio_vendido%}
              </div>
              <div class="col-sm-6">
                  {% bootstrap_field form.encargado class="basicAutoComplete form-control" %}
              </div>
              <div class="col-sm-6">
                {% bootstrap_field form.cliente%}
              </div>
              <div class="col-sm-6">
                {% bootstrap_field form.comentarios%}
              </div>
          </div>
          <button type="submit" class="btn btn-success">Registrar</button>
        </form>
      </div>
    </div>
</div>


{% endblock contenido %}

{% block js %}
<script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>
<script>
    $('.basicAutoComplete').autoComplete(
        {minLength: 1}
    );
    $('.dropdown-menu').css({'top': 'auto', 'left': 'auto'})

</script>
{% endblock js %}