{% extends 'base.html' %}

{% block miga_pan %}
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li><a href="#">Compras</a></li>
  <li class="active">Solicitud de compra</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
  Solicitud de Compra
{% endblock titulo_pagina %} 

{% block contenido %}
<div class="content-wrapper">  
  <!-- Main content -->
  <section class="box">          
    <div class="col-md-12">
      <div class="form-group row">
        <div class="col-xs-6">
          <label for="inputNombre">Nombre</label>
          <input type="text" class="form-control" id="inputNombre" placeholder="Olivia" disabled>
        </div>

        <div class="col-xs-3">
          <label for="inputId">Identificación</label>
          <input type="text" class="form-control" id="inputId" placeholder="1357" disabled>
        </div>

        <div class="col-xs-3">
          <label for="inputNombre">Cargo</label>
          <input type="text" class="form-control" id="inputNombre" placeholder="Gerente general" disabled>
        </div>                
      </div>
      <!-- general form elements -->      
      <div class="box box-primary">                                      
        <!-- form start -->
        {% if solicitudes %}
        <form role="form">          
          {% for solicitud in solicitudes %}
          <div class="container col-md-12">
            <div class="box-body">                
              <div class="form-group">
                <h3>Solucitud #1 
                  <i class="fa fa-circle text-yellow"></i> <!-- cambia color con el estado -->
                </h3>                  
              </div>

              <div class="form-group row">
                <div class="col-xs-6">
                  <label for="inputNombre">Nombre Solicitante</label>
                  <input type="text" class="form-control" id="inputNombre" placeholder="Alfredo" disabled>
                </div>

                <div class="col-xs-3">
                  <label for="inputId">Identificación</label>
                  <input type="text" class="form-control" id="inputId" placeholder="1234" disabled>
                </div>
              </div>

              <div class="form-group">
                <label for="inputElemento">Elemento requerido</label>
                <input type="text" class="form-control" id="inputElemento" placeholder="Impresora" disabled>
              </div>

              <div class="form-group">
                <label for="inputCantidad">Cantidad</label>
                <input type="text" class="form-control" id="inputCantidad" placeholder="2" disabled>
              </div>

              <div class="form-group row">                  
                <!-- Date dd/mm/yyyy -->
                <div class="form-group col-xs-6">
                  <label>Fecha realización</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="15/09/2018" disabled>
                  </div>
                  <!-- /.input group -->
                </div> <!-- /.form group -->                  
                <!-- Date dd/mm/yyyy -->
                <div class="form-group col-xs-6">
                  <label>Fecha esperada</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="26/09/2018" disabled>
                  </div> 
                </div> 
              </div>

              <div class="form-group">
                <label for="inputJust">Justificación</label>
                <textarea id="inputJust" class="form-control pull-right" name="inputJust" rows="4" cols="5" disabled>
                  Se necesita impresora para imprimir los diferentes documentos requeridos en el desarrollo de las actividades
                </textarea>
              </div> 

              <div class="col-xs-3">
                <label for="inputId">Aprobado por </label>
                <input type="text" class="form-control" id="inputId" placeholder="Tomás" disabled>
              </div>             
            </div> <!-- /.box-body -->
            
            <div class="box-footer text-center">
              <button type="submit" class="btn btn-primary">Aprobar</button>            
              <button type="reset" class="btn btn-danger">Rechazar</button>
            </div>
          </div>
          {% endfor solicitud in solicitudes %}
        </form>
        {% endfor %}
      </div> <!-- /.box -->                    
    </div>                  
  </section> <!-- /.content -->
</div>                      
{% endblock contenido %}