{% extends 'base.html' %}


{% block titulo %} Entradas{% endblock titulo %}
{% block titulo_pagina %}Entradas{% endblock titulo_pagina %}

{% block contenido_panel %}

<table id="tabla" cellspacing="0" width="100%" style="width: 100%;" aria-describedby="demo-dt-basic_info" class="table table-striped table-bordered dataTable no-footer dtr-inline">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Articulo</th>
              <th class="text-center">Cantidad</th>
              <th class="text-center">Precio</th>
                <th class="text-center">Proeevedor</th>
                <th class="text-center">Total</th>
                <th class="text-center">Fecha de llegada</th>
                <th class="text-center">Accion</th>
            </tr>
          </thead>
          <tbody>

          {% for orden in ordenes %}

          <tr role="row" class="even">
              <td class="sorting_1 text-center" tabindex="0">{{ orden.id }}</td>
              <td class="sorting_1 text-center" tabindex="0">{{ orden.articulo }}</td>
              <td class="sorting_1 text-center" tabindex="0">{{ orden.cantidad }}</td>
              <td class="sorting_1 text-center" tabindex="0">{{ orden.precio }}</td>
              <td class="sorting_1 text-center" tabindex="0">{{ orden.proveedores }}</td>
              <td class="sorting_1 text-center" tabindex="0">{{ orden.total }}</td>
              <td class="sorting_1 text-center" tabindex="0">{{ orden.tiempo }}</td>
              <td class="sorting_1 text-center" tabindex="0"> <a class="btn btn-info" href="{% url 'registroEntrada' orden.id %}">Generar Entrada</a></td>

    {% endfor %}
                    </tbody>

        </table>
{% endblock contenido_panel %}

{% block pie_panel %}

{% endblock pie_panel %}
{% block js %}
<script>
  $(function () {
    $('#tabla').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
</script>
{% endblock js %}
