{% extends 'base.html' %}

{% block titulo %} Inventario{% endblock titulo %}
{% block titulo_pagina %}Dashboard{% endblock titulo_pagina %}

{% block contenido_panel %}

<div class="col-md-3 col-sm-6 col-xs-12 btn">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-check-square-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-number ">Entradas</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

<div class="col-md-3 col-sm-6 col-xs-12 btn">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-dropbox"></i></span>

            <div class="info-box-content">
              <span class="info-box-number ">Inventario</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

{% endblock contenido_panel %}